[Server]
ROOT_USER = ubuntu
YUM_PACKAGES = ,
PIP_PACKAGES = boto, supervisor, fabric
APT_PACKAGES = libreadline-dev, php5-common, libapache2-mod-php5, php5-cli, php5-memcache, memcached, php-pear, php5-mysql, php5-gd, php5-curl, libssh2-php, python-pip, mysql-client, git, mysql-server, unzip
[Logs]
DB_FILE = logs/rds_file
SETUP_FILE = logs/setup.log
HOSTS_FILE = logs/hosts_file
EC2_LOG = ~/.aws/aws_instances
[AWS]
ADMINGROUP = YMAC_ROOT
BOTO_CONFIG = ~/.boto
AWS_PROFILE = YMACRETURN
AWS_SEC_GROUP = YMACRETURN
ADMIN_POLICIES = AmazonMySQLFullAccess, AmazonEC2FullAccess, AmazonS3FullAccess, AmazonRoute53DomainsFullAccess, AdministratorAccess, AmazonGlacierFullAccess, IAMFullAccess, ResourceGroupsandTagEditorFullAccess
BASIC_POLICIES= AmazonGlacierReadOnlyAccess, AmazonMySQLReadOnlyAccess, AmazonEC2ReadOnlyAccess, AmazonS3ReadOnlyAccess, ResourceGroupsandTagEditorReadOnlyAccess
KEY_NAME = ymac_main
AWS_CONFIG = ~/.aws/config
AWS_REGION = ap-southeast-2
SECURITY_GROUPS = YMAC_ROOT, YMAC_return_basic
[EC2]
INSTANCE_NAME = YMAC_RETURN_YINHAWANGA
INSTANCE_TYPE = t2.micro
APP_PYTHON_URL = http://www.python.org/ftp/python/2.7.6/Python-2.7.6.tar.bz2
AMI_NAME = Ubuntu
POSTFIX = False
ELASTIC_IP = False
APP_PYTHON_VERSION = 2.7
[[AMI_IDs]]
New = ami-d9fe9be3
Amazon = ami-48d38c2b
SLES = ami-0f510a6c
CentOS = ami-5d254067
Ubuntu = ami-69631053
[S3]
[MySQL]
MySQL_DATABASE_NAME = ymacrom
MySQL_HOST = localhost
MySQL_PORT = 3306
MySQL_USER = cjpoole
[Mukurtu Setup]
ADMINISTRATORS = cjpoole, jtillman
GROUP = ymac-return
git_branch = master
git_user = pooli3
APP_DEF_DB = /home/YMAC_Return/
DEFAULT_PASSWORD = YamatjiReturns
users = cjpoole,
APACHE_ROOT = /var/www/html
APP_DIR = /mukurtucms 
git_repo = github.com/MukurtuCMS/mukurtucms
